@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    background: url('/static/img/image5.jpg') no-repeat center center fixed; 
    background-size: cover;
    background-color: #f4f4f4;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body::before {
    content: "";
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Ajusta el color y la opacidad según sea necesario */
    z-index: -1; /* Coloca la superposición detrás del contenido */

}

header {
    background-color: #F5F5F5;
    padding: 20px;
    padding-bottom: 12px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */

}

main section {
    width: 100%;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin: 20px;
}

main section h1 {
    font-family: "Nunito Sans", sans-serif;
    font-weight: normal;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

main section h2 {
    font-weight: normal;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: bold;

}

input[name="inversion"],
input[name="beneficios"],
input[name="vida"],
input[name="costo"],
input[name="tasa"] {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    width: 100%;
    height: 30px;
    margin: 0px 0px 10px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    outline: none;
    border-radius: 12px;
    color: #262626;
}

main section button {
    font-family: "Nunito Sans", sans-serif;
    width: 100%;
    min-height: 50px; /* Asegura una altura mínima */
    padding: 10px 20px; /* Mantiene el padding interno */
    border-radius: 12px;
    border: none;
    margin: 10px 0px 0px 0px;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #005187;
    color: #ffffff;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    word-wrap: break-word; /* Permite la división del texto */
    
}

main section button:hover {
    background-color: #4d82be;
}

main section button.volver{
    border: 2px solid #005187;
    background-color: #ffffff;
    color: #005187;
}


.volver:hover {
    background-color: #eeeeee;
}

footer {
    color: rgba(156, 163, 175, 1);
    text-align: center;
    background-color: #eeeeee;
    padding: 10px;
}

canvas {
    max-width: 500px;
    max-height: 400px;
}


/* Estilos responsivos */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

@media (max-width: 480px) {
    main section {
        padding: 15px;
    }
}
