<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROYECTO SISTEMAS ECONÓMICOS 1/2024</title>
    <link rel="stylesheet" href="../static/style2.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Añadimos Chart.js -->
    <link rel='icon' href='/static/img/ilustrador.icon'>
</head>
<body>
    <header>
        <h1>VALOR ANUAL UNIFORME EQUIVALENTE (VAUE)</h1>
    </header>
    <main>
        <section>
            <div>
                <form id="vaue-form">
                    <p>Inversión inicial (USD)</p>
                    <input type="number" id="inversion" name="inversion" required>
                    <p id="warning-inversion" class="warning"></p>

                    <p>Vida útil (años)</p>
                    <input type="number" id="vida" name="vida" required>
                    <p id="warning-vida" class="warning"></p>

                    <p>Tasa mínima atractiva (%)</p>
                    <input type="number" id="tasa" name="tasa" required>
                    <p id="warning-tasa" class="warning"></p>

                    <p>Beneficios Anuales (USD)</p>
                    <input type="number" id="beneficios" name="beneficios" required>
                    <p id="warning-beneficios" class="warning"></p>

                    <h1 id="titulo-resultado"></h1>
                    <h2 id="resultado-vaue"></h2>

                    <canvas id="vaueChart"></canvas>

                    <button type="submit">CALCULAR VAUE</button>
                    <button class="volver" onclick="volver()">VOLVER</button>
                </form>
            </div>
        
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Proyecto Sistemas Económicos</p>
    </footer>
    <script src="../js/vaue-script.js"></script>
</body>
</html>
